<!--this is footer-->
<!--
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="fa fa-facebook icon-2x"></i></li>
          <li><i class="fa fa-twitter icon-2x"></i></li>
          <li><i class="fa fa-google-plus icon-2x"></i></li>
          <li><i class="fa fa-pinterest icon-2x"></i></li>
        </ul>

      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="fa fa-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>
      </div>
    </div>
  </div>
</footer>
-->

<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
<!-- end footer -->
</body>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  window.jQuery || document.write('<script src="vendor/jquery/jquery-3.3.1.js"><\/script>')
</script>
<!-- JavaScript code that automatically detects the availability of next-generation web technologies in your user's browsers-->
<script type="text/javascript" src="vendor/random/modernizr-2.8.3.js"></script>
<!-- jQuery-ui-themes -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="vendor/jqueryui/themes/humanity/jquery-ui.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="vendor/bootstrap/4.0.0/js/popper.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="vendor/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="vendor/bootstrap/4.0.0/js/mdb.min.js"></script>
<script>
  /* WOW.js init */
  new WOW().init();
</script>
<!-- center elements -->
<!-- Center a single element around its parent. e.g. add class .center-->
<!-- Center multiple elements vertically. e.g. add class .mvcenter-->
<script type="text/javascript" charset="utf-8" src="vendor/center-element/dist/center.min.js"></script>
<!-- Main Script to override-->
<script type="text/javascript" charset="utf-8" src="scripts/custom.js"></script>
</html>
